body{
    width:100%;
    max-width:800px;
    margin:0 auto;
    padding:0;
    font-family:sans-serif;
    background:white;
    }
    #container{
    width:100%;
    max-width:800px;
    margin:0 auto;
    }
    
    a{text-decoration:none;color:black;}




    #head{
        width:100%;
        max-width:600px;
        margin:0 auto;
        box-shadow:0px 5px 5px #F1F1F2;
        background:white;
        position:static;
        top:;
       }


       #wrappings{
        width:100%;
        max-width:600px;
        margin:0 auto;
        display:flex;
        justify-content:space-between;
       }



       #Jbtn{
        height:30px;
        width:50px;
        margin-top:25px;
        margin-right:10px;
        margin-left:10px;
        border-radius:5px;
        border:0px;
        box-shadow:0px 0px 5px grey;
        background:none;
        outline:none;
        curser:pointer;
        }#Jbtn:active{
         background:grey;
         color:white;
        }

         #title{
          
         }#title h1{
          font-weight:lighter;
          font-family:;
         }#title h1 button{
          width:30px;
          height:30px;
          border:0px;
          outline:none;
          border-radius:15.5px;
          background:chocolate;
          animation-name:logo;
          animation-duration:5s;
         }



         #navBtncont{
            border:0px solid grey;
            height:30px;
            padding:0;
            margin:0;
            margin-top:25px;
            margin-right:5px;
            }         
            /*Overide*/
            #navBtncont button{
            background:none;
            border:0px;
            }#navBtncont button svg{
            font-size:30px;
            }
            /*Overide*/
            #navBtncont #menuBtn{
            
            }#navBtncont #cancelBtn{
            display:none;
            }
       
            

            #main{
                width:100%;
                max-width:600px;
                margin:0 auto;
                position:relative;
                }



                #popNav{
                    width:100%;
                    max-width:150px;
                    background:white;
                    border:0px solid grey;
                    margin: 0px 0px 20px;
                    text-align:center;
                    position:absolute;
                    top:10;
                    right:20;
                    border-radius:20px;
                    padding:10px;
                    box-shadow:0px 0px 5px grey;
                    display:none;
                    animation-name: nav;
                    animation-duration: 2s;
                    
                    }#popNav a{
                     color:royalblue;
                     text-decoration:none; 
                     font-size:13px;
                     
                    }





                    #notes{
                        width:100%;
                        max-width:600px;
                        margin:0 auto;
                        text-align:center;
                        border:0px solid black;
                       }#notes h2{
                        width:100%;
                        max-width:300px;
                        color:#404145;
                        text-shadow:;
                        margin-top:25px;
                        margin-bottom:10px;
                        font-weight:lighter;
                        font-family:;
                       }#notes p{
                        width:100%;
                        max-width:350px;
                        margin:0 auto;
                        color:#404145;
                        font-weight:lighter;
                        font-size:15px;
                       }#notes button{
                        width:100px;
                        height:35px;
                        background:#1DBF73;
                        color:white;
                        border-radius:5px;
                        border:0px;
                        font-weight:;
                        outline:none;
                       }#notes button:active{
                        background:grey;
                       }




                       #selector{
                        width:100%;
                        max-width:600px;
                        margin:0 auto;
                        margin-top:20px;
                        display:n;
                       }




                       #member{
                        width:100%;
                        max-width:320px;
                        margin:0 auto;
                        border-top:1px solid #DADBDD;
                        box-shadw:0px 0px 5px grey;
                        padding-left:5px;/*study this*/
                        border-radius:px;
                        margin-bottom:20px;
                        display:n;
                       }#member #discript{
                        width:100%;
                        max-width:320px;
                        margin:0 auto;
                        display:flex;
                        border:0px solid grey;
                        height:px;
                        margin-top:10px;
                       }#discript img{
                        width:150px;
                        height:100px;
                        border-radius:10px;      
                       }#discript #disc-rate{
                        width:160px;
                        height:100px;
                        margin-left:10px;
                        position:relative;
                        border:0px solid grey;
                       }#discript #disc-rate p{
                        padding:0;
                        margin:0;
                        width:100%;
                        max-width:150px;
                        font-size:px;
                        font-weight:lighter;
                       }#discript #disc-rate button{
                        position:absolute;
                        bottom:0;       
                        background:none;
                        border:0px;
                        display:flex;
                        font-weight:bold;
                       }#discript #disc-rate button svg{
                        font-size:15.5px;
                        margin:;
                        padding:;
                       }#discript #disc-rate button span{
                        color:#ffbe5b;
                        font-size:15px;
                        padding:0;
                        margin:0;
                       }
                       #memInfo{
                        display:flex;
                        justify-content:space-between;
                        margin-top:10px;
                        margin-bottom:10px;
                       }#memInfo #status{
                        display:flex;
                       }#memInfo #status img{
                        width:30px;
                        height:30px;
                        border-radius:30px;
                       }#memInfo #status p{
                        margin:0;
                        padding:0;
                        margin-left:7px;
                       }#memInfo #status p #name{
                        font-weight:bold;
                        color:black;
                        font-size:13px;
                       }#memInfo #status p #level{
                        color:grey;
                        font-size:15px;
                       }#memInfo #pricing{
                        background:none;
                        border:0px;
                        outline:none;
                        color:grey;
                       }#memInfo #pricing span{
                        font-size:14px;
                        font-weight:bold;
                       }




                       #sliders{
                        width:100%;
                        max-width:350px;
                        margin:0 auto;
                        display:n;
                       }#sliders h2{
                        width:150px;
                        margin:0 auto;
                        text-align:center;
                        font-weight:lighter;
                        bordr-bottom:5px solid grey;
                       }#sliders #tee{
                        width:100%;
                        background:none;
                        border:0px;
                        height:30px;
                        margin-bottom:5px;
                        display:flex;
                        justify-content:space-between;
                       }#flexer{
                        display:flex;
                        justify-content:space-between;
               
                        overflow:auto;
                       }#slide{
                        width:100%;
                        max-width:100px;
                        height:150px;
                        border:0px solid grey;
                        box-shadow:0px 0px 10px grey;
                        border-radius:10px;
                        margin-bottom:10px;
                        margin-right:10px;
                        margin-top:10px;
                        margin-left:10px;
                       }#slide img{
                        width:100px;
                        height:100px;
                        border-top-left-radius:10px;
                        border-top-right-radius:10px;
                       }#slide button{
                        height:40px;
                        width:100%;
                        background:none;
                        border:0px;
                        outline:none;
                        font-weight:bold;
                       }







                       #query{
                        width:100%;
                        max-width:330px;
                        margin:0 auto;
                        margin-bottom:50px;
                        margin-top:50px;
                        position:relative;
                        display:n;
                       }#query img{
                        width:50%;
                        display:flex;
                        margin:auto;
                       }#query h1{
                        text-align:center;
                        margin:0;
                        padding:0;
                        font-weight:lighter;
                       }#query p{
                        width:100%;
                        max-width:330px;
                        margin:0 auto;
                        text-align:center;
                        font-size:px;
                        font-weight:lighter;
                       }#query p a{
                        color:royalblue;
                        box-shadow:5px 5px 5px grey;
                        border:0.1px solid royalblue;
                        font-size:px;
                        padding:0.5px;
                        padding-right:4px;
                        border-radius:4px;
                        width:;
                       }#query button{
                        position:absolute;
                        top:0;
                        right:0;
                        border:1px dashed grey;
                        font-size:10px;
                        outline:none;
                       }





                       #preView{
                        width:100%;
                        max-width:350px;
                        margin:0 auto;
                        margin-bottom:10px;
                        display:no;
                        }#preView h2{
                         width:150px;
                         margin:0 auto;
                         text-align:center;
                         font-weight:lighter;
                         border-bottom:5px solid grey;
                        }#preView #viewer{
                         /*flexer*/
                         display:flex;
                         justify-content:space-around;
                         border:0px solid grey;
                         
                        }#viewer #img{
                         width:100%;
                         max-width:160px;
                         height:170px;
                         border:0px solid grey;
                         position:relative;
                         border-radius:20px;
                         margin-top:10px;
                         box-shadow:0px 0px 5px black;
                        }#viewer #img img{
                         width:100%;
                         height:100%;
                         border-radius:20px;
                         
                        }#viewer #img #opBtn{
                         width:100%;
                         display:flex;
                         justify-content:space-between;
                         position:absolute;
                         bottom:0;
                         background:none;
                         box-shadow:;
                         border-bottom-right-radius:20px;
                         border-bottom-left-radius:20px;
                         padding-top:10px;
                         padding-bottom:10px;
                        }#viewer #img #miniImg{
                         width:30px;
                         height:30px;
                         background:none;
                         margin-left:5px;
                         border:1px solid grey;
                        }#img #userN{
                         color:white;
                         font-weight:bold;
                         font-size:10px;
                         margin-top:10px;
                        }#img #userO{
                         background:none;
                         outline:none;
                         border:0px;
                        }






                    
                        #more{
                        width:100%;
                        max-width:200px;
                        padding:0;
                        margin:0;
                        margin-top:6px;
                        border:0.1px solid royalblue;
                        text-align:center;
                        font-size:20px;
                        color:royalblue;
                        font-weight:lighter;
                        position:relative;
                        
                        }
                        /*Overide*/
                        #more button{
                         background:non;
                         border:0px;
                         outline:none;
                         position:absolute;
                         right:0;
                         top:0;
                         width:50px;
                         height:100%;
                        }#more button svg{
                         font-size:25px;
                        }
                       /*Overide*/
                       
                       #more #cancelR{
                       display:none;
                       }#more #bringR{
                       
                       }
                       
                       #preViewed{
                        display:none;
                       }






                       #nextBtn{
                        width:100%;
                        max-width:200px;
                        margin:0 auto;
                        text-align:center;
                        margin-top:60px;
                        margin-bottom:20px;
                        }#nextBtn a{
                        color:royalblue;
                        text-align:center;
                        font-weight:lighter;
                        }








                        #tempPlayer{
                            background:none;
                            width:100%;
                            max-width:60px;
                            height:60px;
                            border-radius:30px;
                            position:sticky;
                            left:10px;
                            bottom:10px;
                            box-shadow: 0px 0px 0px gray;
                            display:noe;/*edit this*/
                           }
                           /*Override*/
                           #tempPlayer button{
                            background:#FFC107;
                            width:100%;
                            height:100%; 
                            border-radius:30px;       
                            border:0px;
                            outline:none;
                           }#tempPlayer button svg{
                            font-size:30px;
                           }
                           /*Override*/
                           #tempPlayer #player{
                           
                           }#tempPlayer #pauser{
                            display:none;
                           }







                           #joiner{
                            width:100%;
                            max-width:400px;
                            height:;
                            margin:0 auto;
                            background:white;
                            border:0px solid grey;
                            display:none;   
                            position:absolute;
                            top:0;
                            animation-name:jee;
                            animation-duration:1s;
                            }#joiner #top{
                            width:100%;
                            max-width:500px;
                            margin:0 auto;
                            position:relative;
                            padding-bottom:px;
                            height:40px;
                            border:px solid grey;
                            }#joiner #top h3{
                            color:whte;
                            }#joiner #top #removeBtn{
                            background:none;
                            outline:none;
                            border:0px;
                            position:absolute;
                            top:0;
                            right:0;
                            }#joiner h2{
                            text-align:center;
                            font-family:serif;
                            font-weight:lighter;
                            margin-bottom:px;
                            }
                            
                            #options{
                            width:100%;
                            max-width:330px;
                            margin:0 auto;
                            }#options button{
                            width:100%;
                            height:45px;
                            border:0px;
                            border-radius:5px;
                            position:relative;
                            outline:none;
                            background:none;
                            margin-top:10px;
                            }#options button svg{
                            font-size:20px;
                            position:absolute;
                            top:13;
                            left:10;
                            }#options button span{
                            color:white;
                            font-size:13px;
                            }
                            
                            fieldset{
                            width:100%;
                            max-width:330px;
                            margin:0 auto;
                            margin-top:20px;
                            border:0px;
                            border-top:1px solid #E4E5E7;
                            padding:0;
                            
                            }fieldset legend{
                            text-align:center;
                            font-size:25px;
                            padding-right:10px;
                            padding-left:10px;
                            text-transform:uppercase;
                            font-weight:lighter;
                            }fieldset form{
                            width:100%;
                            max-width:330px;
                            margin:0 auto;
                            }fieldset form input{
                            width:100%;
                            height:45px;
                            border-radius:5px;
                            border:1px solid #C5C6C9;
                            margin-top:30px;
                            outline:none;
                            }input::placeholder{
                            padding:10px;
                            }fieldset form button{
                            background:#1DBF73;
                            color:white;
                            width:100%;
                            height:45px;
                            border:0px;
                            border-radius:5px;
                            outline:none;
                            margin-top:15px;
                            margin-bottom:15px;
                            }fieldset p{
                            padding:0;
                            margin:0;
                            color:grey;
                            font-size:13px;
                            }#joiner #bottomBtn{
                            width:100%;
                            background:none;
                            color:grey;
                            border:0px;
                            height:50px;
                            border-top:1px solid #DBDCDE;
                            border-bottom:1px solid #DBDCDE;
                            box-shadow:0px 5px 5px grey;
                            margin-top:100px;
                            }
   
                            






                            #footer{
                                width:100%;
                                max-width:800px;
                                margin:0 auto;
                                background:#2E3133;
                                padding-bottom:10;
                               }#footer #Blogo{
                                background:none;
                                border:0px;
                                outline:none;
                                marging-left:30px;
                                margin-top:30px;
                                margin-bottom:px;
                               }#footer #Blogo svg{
                                font-size:50px;
                               }#footer p{
                                padding:0;
                                margin:0;
                                color:white;
                                font-weight:lighter;
                                font-size:10px;
                                width:100%;
                                max-width:350px;
                                margin:0 auto;
                               }#footer p a{
                                color:white;
                                font-size:13px;
                                text-decoration:;
                               }