/*Animation Logo*/
@keyframes logo{
         0%{
         background:chocolate;
         }33.3%{
         background:royalblue;
         }66.6%{
         background:#222;
         }100%{
         background:chocolate;
         }
         }